.DS_Store
__pycache__/
*.py[cod]
*$py.class
.ruff_cache

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
.build/
dist/
build/
.eggs/
*.egg-info/

# Testing / coverage
.coverage*
.pytest_cache/
.tox/

# IDEs/editors
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.*
